body{
    font-family: "Barlow", sans-serif;
}

.container{
    width: 80%;
    height: auto;
    margin: auto;
    padding: auto;
    background-color: white;
}

table { 
    border-radius: 35px;
    box-shadow: 0px 0px 25px rgba(40,137,210,1);
    margin: auto;
    padding: 25px;
} 

input[type="button"] { 
    width: 100%; 
    padding: 20px 35px; 
    background-color: rgba(34, 137, 210, 0.9); 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.447);
    border-radius: 50px; 
} 

input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.447);
    border-radius: 50px; 
    border: 2px solid black; 
}

input[type="button"]:hover{ 
    transform: scale(1.1);
}

input[type="text"]:hover{
    transform: scale(1.05);
}